/.gradle/
/.settings/
/bin/
/logs/
/.classpath
/.project
/build/
/tmp/
/tmpAuto-WEKA/
/autoweka-2.6.tar.gz
/autoweka-2.6.zip
/naiveautoml.log
/conf/database-local-legitimacy.conf
/conf/experiments-legitimacy.conf
